<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<h1>Document archive</h1>
<a href="/upload">Upload Document</a>

<div th:if="not ${#maps.isEmpty(keyValuePairs)}">
<div th:each="key: ${keyValuePairs.keySet()}" align="center">
    <span th:text="${key}"></span> : <span th:text="${keyValuePairs.get(key)}"></span>
</div>
</div>
<div align="center">
    <form action="#" th:action="@{/}" method="get">
        <input type="text" name="key" placeholder="Key">
        <input type="text" name="value" placeholder="Value">
        <button type="submit">Add Key-Value-Pair</button>
    </form>
</div>

<div align="center">
    <form action="#" th:action="@{/search}" th:object="${searchForm}" method="post">
        <input type="text" th:field="*{searchQuery}" placeholder="Search">
        <input type="checkbox" th:field="*{regExMatch}" checked="false">
        <button type="submit">Search</button>
    </form>
</div>

<div th:if="not ${#lists.isEmpty(documentMetaDataDtoList)}">
    <div th:each="documentMetaData : ${documentMetaDataDtoList}" align="center" style="margin-top: 8%">
        <p th:text="${documentMetaData.name}" align="center"></p>
        <ul align="center" style="list-style-type: none">
            <a th:href="@{http://localhost:8081/api/getDocument/(path=${documentMetaData.getPath()})}" target="_blank" align="center">Download</a>
            <li th:each="key: ${documentMetaData.metaData.keySet()}" align="center">
                <span th:text="${key}"></span> : <span th:text="${documentMetaData.metaData.get(key)}"></span>

            </li>
        </ul>
    </div>
</div>
</body>
</html>